![Py4Eng](https://dl.dropboxusercontent.com/u/1578682/py4eng_logo.png)

# Dictionaries
## Yoav Ram

## Reminder: Lists
Lists are a data structure used to store **ordered** collections of elements (`int`, `float`, `str`, etc.).

In [1]:
organisms = ['Pan troglodytes', 'Gallus gallus', 'Xenopus laevis', 'Vipera palaestinae']

We access elements of lists by using their _index_:

In [2]:
print(organisms[0])
print(organisms[2])

Pan troglodytes
Xenopus laevis

## Dictionaries

__Dictionaries__ are _hashtables_: a data structure used to store collections of elements to be accessed with a _key_. Keys can be of any _immutable_ type - strings, integers, floats, etc. Each key refers to a _value_.

### Defining dictionaries:

In [3]:
organisms_classes = {
    'Pan troglodytes': 'Mammalia', 
    'Gallus gallus': 'Aves', 
    'Xenopus laevis': 'Amphibia', 
    'Vipera palaestinae': 'Reptilia'
}

In this dictionary, the _keys_ are the organisms and the _values_ are the taxonomic classification of each organism. Both are of type `str`.

Another example would be a dictionary representing the number of observations of various species:

In [4]:
observations = {
    'Equus zebra': 143,
    'Hippopotamus amphibius': 27,
    'Giraffa camelopardalis': 71,
    'Panthera leo': 112
}

Here, the keys are of type `str` and the values are of type `int`. Any other combination could be used.

### Accessing dictionary records
Accessing a dictionary record is similar to what we did with lists, only this time we'll use a _key_ instead of an _index_:

In [5]:
print(organisms_classes['Pan troglodytes'])
print(organisms_classes['Gallus gallus'])

Mammalia
Aves

### Changing and adding records
We can change the dictionary by simply assigning a new value to a key.

In [6]:
organisms_classes['Pan troglodytes'] = 'Mammals'
print(organisms_classes['Pan troglodytes'])

Mammals

Similarly, we can use this syntax to add new records:

In [7]:
organisms_classes['Danio rerio'] = 'Actinopterygii'
print(organisms_classes['Danio rerio'])

Actinopterygii

__Note 1__: The fact that we can change elements of the dictionary and dynamically add more elements suggests that `dict` is a **mutable** type.

__Note 2__: A dictionary may not contain multiple records with the same _key_, but it may contain many keys with the same _value_.

### Looping over dictionary items

By default, `for` loops over the dictionary keys:

In [8]:
for organism in organisms_classes:
    print(organism, 'belongs to the', organisms_classes[organism], 'class.')

Pan troglodytes belongs to the Mammals class.
Danio rerio belongs to the Actinopterygii class.
Gallus gallus belongs to the Aves class.
Vipera palaestinae belongs to the Reptilia class.
Xenopus laevis belongs to the Amphibia class.

**Note**: the order of the keys in the dictionary items is **arbitrary**.

We can even change values while looping, as this doesn't affect the keys collection (changing what you loop over is dangerous!):

In [9]:
for animal in observations:
    observations[animal] = observations[animal] > 50
print(observations)

{'Panthera leo': True, 'Equus zebra': True, 'Giraffa camelopardalis': True, 'Hippopotamus amphibius': False}

We can check if a dictionary contains a *key* using the `in` operator:

In [10]:
'Vipera palaestinae' in organisms_classes

True

In [11]:
'Bos taurus' in organisms_classes

False

In [12]:
new_organism = ['Vipera palaestinae', 'Bos taurus']
for organism in new_organism:
    if organism in organisms_classes:
        print(organism, 'belongs to the', organisms_classes[organism], 'class.')
    else:
        print(organism, 'not found in dictionary.')

Vipera palaestinae belongs to the Reptilia class.
Bos taurus not found in dictionary.

## Exercise

1) Create a dictionary with the keys `Name`, `Address`, and `Phone`, insert your details as values, and use the dictionary to print a sentence such as "My name is James Watson, I live in Cambridge and my phone number is 12345678"

2) Given in the code below is a dictionary (named `code`) where the keys represent encrypted characters and the values are the corresponding decrypted characters. Use the dictionary to decrypt an ecnrypted message (named `secret`) and print out the resulting cleartext message.
* Hint: to print without creating a newline, use `print(str, end='')`

In [13]:
secret = """Wq osakk le eh ue usq qhp, mq osakk xzlsu zh Fcahgq,
mq osakk xzlsu eh usq oqao ahp egqaho,
mq osakk xzlsu mzus lcemzhl gehxzpqhgq ahp lcemzhl oucqhlus zh usq azc, mq osakk pqxqhp ebc Iokahp, msauqjqc usq geou dat rq,
mq osakk xzlsu eh usq rqagsqo,
mq osakk xzlsu eh usq kahpzhl lcebhpo,
mq osakk xzlsu zh usq xzqkpo ahp zh usq oucqquo,
mq osakk xzlsu zh usq szkko;
mq osakk hqjqc obccqhpqc, ahp qjqh zx, mszgs I pe heu xec a dedqhu rqkzqjq, uszo Iokahp ec a kaclq iacu ex zu mqcq obrfblauqp ahp ouacjzhl, usqh ebc Edizcq rqtehp usq oqao, acdqp ahp lbacpqp rt usq Bczuzos Fkqqu, mebkp gacct eh usq oucbllkq, bhuzk, zh Gep’o leep uzdq, usq Nqm Weckp, mzus akk zuo iemqc ahp dzlsu, ouqio xecus ue usq cqogbq ahp usq kzrqcauzeh ex usq ekp."""

code = {'u': 't', 'y': 'q', 's': 'h', 'f': 'j', 'n': 'k', 'p': 'd', 'x': 'f', 't': 'y', 'i': 'p', 'a': 'a', 'e': 'o', 'l': 'g', 'o': 's', 'q': 'e', 'j': 'v', 'k': 'l', 'g': 'c', 'r': 'b', 'h': 'n', 'b': 'u', 'c': 'r', 'w': 'x', 'z': 'i', 'm': 'w', 'v': 'z', 'd': 'm'}

# Sets

A [set](https://docs.python.org/3.5/tutorial/datastructures.html#sets) is an **unordered collection** with **no duplicate elements**, similar to the mathematical concept of a [set](https://en.wikipedia.org/wiki/Set_%28mathematics%29) (קבוצה). 

Curly braces (`{}`) or the `set()` function can be used to create sets.

In [2]:
basket = {'apple', 'orange', 'apple', 'pear', 'orange', 'banana'}
print(basket)                      # show that duplicates have been removed
type(basket)

{'pear', 'orange', 'apple', 'banana'}

set

Basic uses include eliminating duplicate entries (as above, one apple and one orange were eliminated), and fast membership testing:

In [3]:
print('orange' in basket)
print('crabgrass' in basket)

True
False

Set objects also support set-theoretical operations like union, intersection, difference, and symmetric difference.

In [4]:
a = set('abracadabra')
b = set('alacazam')
print(a)
print(b)
type(b)

{'c', 'r', 'a', 'b', 'd'}
{'c', 'z', 'a', 'l', 'm'}

set

Letters in `a` but not in `b`:

In [5]:
a - b

{'b', 'd', 'r'}

Letters in either `a` or `b`:

In [6]:
a | b

{'a', 'b', 'c', 'd', 'l', 'm', 'r', 'z'}

Letters in both `a` and `b`:

In [7]:
a & b

{'a', 'c'}

Letters in `a` or `b` but not both:

In [8]:
a ^ b

{'b', 'd', 'l', 'm', 'r', 'z'}

To create an empty set you have to use `set()`, not `{}`; the latter creates an empty dictionary.

In [12]:
Ø = set()
print(Ø)
type(Ø)

set()

set

## Colophon
This notebook was written by [Yoav Ram](http://www.yoavram.com) and is part of the _Python for Engineers_ course.

The notebook was written using [Python](http://pytho.org/) 3.4.4, [IPython](http://ipython.org/) 4.0.3 and [Jupyter](http://jupyter.org) 4.0.6.

This work is licensed under a CC BY-NC-SA 4.0 International License.

![Python logo](https://www.python.org/static/community_logos/python-logo.png)